@font-face {
  font-family: 'Avenir Heavy';
  font-style: normal;
  font-weight: 400; /* normal | 300 | 400 | 600 | bold | etc */
  src: url("../../shared/assets/fonts/Avenir-Heavy.ttf") format("truetype");
}

@font-face {
  font-family: 'Avenir Medium';
  font-style: normal;
  font-weight: 500;
  src: url("../../shared/assets/fonts/Avenir-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'Avenir Roman';
  font-style: normal;
  font-weight: 400;
  src: url("../../shared/assets/fonts/Avenir-Roman.ttf") format("truetype");
}

@font-face {
  font-family: 'Bebas Neue Bold';
  font-style: normal;
  font-weight: 700;
  src: url("../../shared/assets/fonts/bebas-neue-bold.ttf") format("truetype");
}

@font-face {
  font-family: 'Bebas Neue Regular';
  font-style: normal;
  font-weight: 400;
  src: url("../../shared/assets/fonts/bebas_neue_regular.ttf") format("truetype");
}
