:root {
  --font-family-main: 'Roboto', sans-serif;
  --font-size-s: 12px;
  --font-size-m: 16px;
  --font-size-l: 24px;
  --font-size-xl: 32px;
  --font-line-s: 16px;
  --font-line-m: 20px;
  --font-line-l: 30px;
  --font-line-xl: 40px;
  --font-s: var(--font-size-s) / var(--font-line-s) var(--font-family-main);
  --font-m: var(--font-line-m) / var(--font-line-m) var(--font-family-main);
  --font-l: var(--font-line-l) / var(--font-line-l) var(--font-family-main);
  --font-xl: var(--font-line-xl) / var(--font-line-xl) var(--font-family-main);
  --modal-z-index: 100;
  --overlay-z-index: 10;
  --overlay-color: rgba(0 0 0 / 60%);
  --bg-color: rgb(191 219 253);
  --inverted-bg-color: #EFF5F6;
  --text-color: #202023;
  --accent-color: #62DE85;
  --cancel-color: #f00;
  --hint-color: #555;
  --icon-color: #74A2B2;
}
