:root {
  // font Bebas Neue
  --font-family-main-bold: 'Bebas Neue Bold', sans-serif;
  --font-family-main-regular: 'Bebas Neue Regular', sans-serif;
  --font-size-main-h1: 2.5rem;
  --font-size-main-h2: 2rem;
  --font-size-main-h3: 1.5rem;
  --font-size-main-h4: 1.25rem;
  --font-size-main-h5: 1.0625rem;
  --font-line-main: normal;

  // font Avenir
  --font-family-alternative-heavy: 'Avenir Heavy', sans-serif;
  --font-family-alternative-medium: 'Avenir Medium', sans-serif;
  --font-family-alternative-roman: 'Avenir Roman', sans-serif;
  --font-size-alternative-h2: 1.5rem;
  --font-size-alternative-h3: 1.25rem;
  --font-size-alternative-h4-body: 1rem;
  --font-size-alternative-body2-caption: 0.875rem;
  --font-size-alternative-tiny: 0.75rem;
  --font-line-alternative: normal;
  --font-line-alternative-h2: 2rem;
  --font-line-alternative-h3-h4-body: 1.5rem;
  --font-line-alternative-body2: 1.25rem;
  --font-line-alternative-caption-tiny: 1rem;

  // colors
  --color-grey-grey-1: #050504;
  --color-grey-grey-2: #1F2D3D;
  --color-grey-grey-3: #3C4858;
  --color-grey-grey-4: #8492A6;
  --color-grey-grey-5: #C2CEDB;
  --color-grey-grey-6: #D3DCE6;
  --color-grey-grey-7: #E5E9F2;
  --color-grey-grey-8: #EFF2F7;
  --color-grey-grey-9: #F9FAFC;

  // fonts combine
  --font-h1: var(--font-size-main-h1) / var(--font-line-main) var(--font-family-main-bold);
  --font-h2: var(--font-size-main-h2) / var(--font-line-main) var(--font-family-main-regular);
  --font-h2-alt: var(--font-size-alternative-h2) / var(--font-line-alternative-h2) var(--font-family-alternative-heavy);
  --font-h3: var(--font-size-main-h3) / var(--font-line-main) var(--font-family-main-regular);
  --font-h3-alt: var(--font-size-alternative-h3) / var(--font-line-alternative-h3-h4-body) var(--font-family-alternative-medium);
  --font-h4: var(--font-size-main-h4) / var(--font-line-main) var(--font-family-main-regular);
  --font-h4-alt: var(--font-size-alternative-h4-body) / var(--font-line-alternative-h3-h4-body) var(--font-family-alternative-medium);
  --font-h5: var(--font-size-main-h5) / var(--font-line-main) var(--font-family-main-regular);
  --font-body: var(--font-size-alternative-h4-body) / var(--font-line-alternative-h3-h4-body) var(--font-family-alternative-heavy);
  --font-body2: var(--font-size-alternative-body2-caption) / var(--font-line-alternative-body2) var(--font-family-alternative-heavy);
  --font-caption: var(--font-size-alternative-body2-caption) / var(--font-line-alternative-caption-tiny) var(--font-family-alternative-medium);
  --font-tiny: var(--font-size-alternative-tiny) / var(--font-line-alternative-caption-tiny) var(--font-family-alternative-roman);

  // colors
  --modal-z-index: 100;
  --overlay-z-index: 10;
  --overlay-color: rgba(0 0 0 / 60%);
  --bg-color: #fff;
  --inverted-bg-color: #EFF5F6;
  --text-color: #202023;
  --accent-color: #62DE85;
  --cancel-color: #f00;
  --hint-color: #555;
  --icon-color: #74A2B2;
}
