.primary {
  color: var(--color-grey-grey-2);
}

.error {
  color: var(--cancel-color);
}

.accent {
  color: var(--accent-color);
}


.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.type_h1 {
  font: var(--font-h1);
}

.type_h2 {
  font: var(--font-h2);
}

.type_h2Alt {
  font: var(--font-h2-alt);
}

.type_h3 {
  font: var(--font-h3);
}

.type_h3Alt {
  font: var(--font-h3-alt);
}

.type_h4 {
  font: var(--font-h4);
}

.type_h4Alt {
  font: var(--font-h4-alt);
}

.type_h5 {
  font: var(--font-h5);
}

.type_body {
  font: var(--font-body);
}

.type_body2 {
  font: var(--font-body2);
}

.type_caption {
  font: var(--font-caption);
}

.type_tiny {
  font: var(--font-tiny);
}

.medium {
  font-family: var(--font-family-alternative-medium);
}

.roman {
  font-family: var(--font-family-alternative-roman);
}






