.Button {
  border-radius: 0.3125rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  flex-shrink: 0;
  padding: 1rem 1.25rem 0.75rem;
  transition: all 0.3s ease;
}

.addonLeft, .addonRight {
  display: flex;
}

.medium {
  width: 5rem;
  height: 2rem;
  font: var(--font-h5);
  gap: 0.5rem;
}

.large {
  width: 11.25rem;
  height: 3rem;
  font: var(--font-h4);
  gap: 0.75rem;
}

.float {
  border: none;
  outline: none;
  color: var(--bg-color);

  &.primary {
    background: var(--color-grey-grey-1);
  }

  &.secondary {
    background: var(--color-grey-grey-2);
  }

  &.float_duo {
    background: var(--color-grey-grey-7);
    color: var(--color-grey-grey-1);
  }

  &.large {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 0.75rem;
    padding: 0.75rem;
  }

  &.medium {
    width: 2rem;
    height: 2rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
  }

  &:hover {
    svg {
      filter: drop-shadow(1px 1px 2px var(--color-grey-grey-4));
    }
  }

  &:active {
    filter: drop-shadow(1px 1px 2px var(--color-grey-grey-4));
  }
}

.clear {
  padding: 0;
  border: none;
  background: none;
  outline: none;
  color: var(--color-grey-grey-3);

  &.large, &.medium {
    height: auto;
    width: auto;
  }

  &:active {
    color: var(--color-grey-grey-2);
    filter: var(--color-grey-grey-2);
  }

  &:not(:active, [disabled]):hover {
    text-shadow: 1px 1px 2px var(--color-grey-grey-4);

    .addonLeft svg, .addonRight svg {
      filter: drop-shadow(1px 1px 2px var(--color-grey-grey-4));
    }
  }

  &.disabled {
    color: var(--color-grey-grey-6);
    cursor: default;
  }
}


.filled {
  border: none;
  outline: none;
  color: var(--bg-color);

  &:not(:active, [disabled]):hover {
    box-shadow: 0 5px 8px 2px var(--color-grey-grey-2);
  }

  &.primary {
    background: var(--color-grey-grey-1);
  }

  &.secondary {
    background: var(--color-grey-grey-3);

    &:not([disabled]):active {
      background: var(--color-grey-grey-2);
      color: var(--bg-color);
    }
  }

  &.disabled {
    background: var(--color-grey-grey-8);
    color: var(--color-grey-grey-6);
    cursor: default;
  }
}

.outlined {
  border: 2px solid var(--color-grey-grey-3);
  background: var(--bg-color);
  outline: none;
  color: var(--color-grey-grey-3);

  &:not(:active, [disabled]):hover {
    box-shadow: 0 5px 8px 2px var(--color-grey-grey-6);
  }

  &:not([disabled]):active {
    border: 2px solid var(--color-grey-grey-2);
    color: var(--color-grey-grey-2);;
  }

  &.disabled {
    border: 2px solid var(--color-grey-grey-8);
    color: var(--color-grey-grey-8);
    cursor: default;
  }
}

.fullWidth {
  width: 100%;
}

